body{


font-family: Arial;


margin:0;


background:linear-gradient(135deg,#0f172a,#1e3a8a);


color:white;


text-align:center;


}




/* cabeçalho */


header{


padding:40px;


background:#020617;


box-shadow:0 4px 10px rgba(0,0,0,0.4);


}




/* perfil */


.perfil{


margin-top:30px;


}


.foto{


width:150px;


height:150px;


border-radius:50%;


border:4px solid white;


margin-bottom:10px;


}






/* metas */


.container-metas{


display:flex;


justify-content:center;


flex-wrap:wrap;


gap:30px;


margin-top:30px;


}


.card-meta{


background:white;


color:black;


width:220px;


padding:20px;


border-radius:15px;


box-shadow:0 8px 20px rgba(0,0,0,0.3);


transition:0.3s;


}


.card-meta:hover{


transform:scale(1.05);


}


.card-meta img{


width:100%;


border-radius:10px;


margin-top:10px;


margin-bottom:10px;


}






/* progresso */


.progresso{


margin-top:60px;


}


.barra{


width:400px;


height:30px;


background:#94a3b8;


margin:auto;


border-radius:20px;


overflow:hidden;


}


.barra-preenchimento{


height:30px;


width:0%;


background:#38bdf8;


transition:0.5s;


}

